.add-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 2em;
    background-color: black;
    color: white;
    border: none;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.uk-container {
    position: relative;
}

.edit {
    color: blue;
}

.delete {
    color: red;
}

.informational {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.description {
    margin: 0 50px;
}