span#login-error, p.help-block strong {
    color: red;
    font-size: 11px;
}

.hidden {
    display: none;
}

#heading-logo {
    width: 125px;
    height: 125px;
    margin: 15px;
}

nav h1 {
    margin: 0;
}

@media only screen and (max-width: 675px) {
    nav h1, .menu {
        display: none;
    }
}

html {
    background-color: #ddd;
}

.uk-heading-divider {
    border-color: #a1a1a1;
}