main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 155px);
    position: relative;
}

main a {
    position: absolute !important;
    top: 10px;
    left: 50px;
}

main a:hover {
    text-decoration: none;
}