{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} {% endblock %}
    <!-- Reset -->
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
    {% block styles %} {% endblock %}
    <!-- JQuery -->
    <script src="{% static 'scripts/base.js' %}"></script>
    {% block scripts %} {% endblock %}
</head>
<body>
    <header>
        <!-- Header -->
    </header>
    <main>
        {% block content %} {% endblock %}
    </main>
</body>
</html>