.add-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 2em;
    background-color: black;
    color: white;
    border: none;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.uk-container {
    position: relative;
}

.edit {
    color: #00000000;
    display: inline;
    position: absolute;
    top: 10px;
    right: 10px;
    transition-duration: .3s;
    font-size: 2em;
}

.wireframe-card {
    position: relative;
    margin: 20px 0;
}

.wireframe-card:hover .edit {
    color: #000000;
}

.edit:hover {
    cursor: pointer;
}