{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Capstone Project {% endblock %}

{% block styles %} 
    <!-- Styles -->
{% endblock %}

{% block scripts %}
    <!-- Scripts -->
{% endblock %}

{% block content %}
    <h1>Sprint 0</h1> <button uk-toggle="target: #new-task-form">+</button>
    <ul class="task-list">
        {% for task in sprint.task_set.all %}
            <li>{{task.description}}</li>
        {% endfor %}
    </ul>

    <div id="new-task-form" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            <form action="{% url 'tasks' sprint.project.id sprint.id %}" method="POST">
                {% csrf_token %}
                {{ task_form|crispy }}
                <input type="submit" value="Create Task">
            </form>
        </div>
    </div>
{% endblock %}