{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Capstone Project {% endblock %}

{% block styles %} 
    <link rel="stylesheet" href="{% static 'styles/projects/show.css' %}">
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        let userType = "{{user.profile.user_type}}";
    </script>
    <script src="{% static 'scripts/projects/show.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="uk-container">
        <ul class="uk-breadcrumb">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'projects' %}">My Projects</a></li>
            <li><span>{{project.title}}</span></li>
        </ul>
        {% if not project.client %}
            <span id='url-span'>
                Client URL: 
                <input type="text" name="url" id="url" value="localhost:8000/attach/{{project.id}}" disabled>
                <button class="uk-button uk-button-text" id="copy">Copy</button>
            </span>
        {% endif %}
        <h1 class="project-title uk-heading-medium uk-heading-divider uk-text-center">
            {{project.title}}
            {% if user.profile.user_type == 'client' %}
                <a class="project-edit" uk-icon="icon: pencil; ratio: 1.5" href="#" uk-toggle="target: #edit-project-form"></a>
                <a class="project-delete" uk-icon="icon: trash; ratio: 1.5" href="#" uk-toggle="target: #delete-project-form"></a>
            {% endif %}
        </h1>

        <div class="sprints uk-flex" uk-grid>
            <div class="uk-width-1-3 uk-width-1-4@m titles">
                <h1 class="uk-heading-small light">Sprints</h1>
                <button class="uk-button uk-button-text light" uk-toggle="target: #new-sprint-form">New Sprint</button>
            </div>
            <div class="uk-width-2-3 uk-width-3-4@m uk-flex" uk-overflow-auto>
                {% for sprint in project.sprint_set.all %}
                    <div class="sprint uk-card-hover {% if sprint.completed %}completed{%endif%}" data-url="{% url 'sprint' project.id sprint.id %}">
                        <h1 class="uk-heading-small">Sprint {{forloop.counter}}</h1>
                        <p>Completed? <input type="checkbox" disabled></p>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="pages uk-flex" uk-grid>
            <div class="uk-width-1-3 uk-width-1-4@m titles">
                <h1 class="uk-heading-small light">Pages</h1>
                <button class='uk-button uk-button-text light' uk-toggle="target: #new-page-form">New Page</button>
            </div>
            <div class="uk-width-2-3 uk-width-3-4@m uk-flex" uk-overflow-auto>
                {% for page in project.page_set.all %}
                    <div class="page uk-card-hover" data-url="{% url 'page' project.id page.id %}">
                        <h1 class="uk-heading-small light">{{page.title}}</h1>
                        <img src="{% static '' %}{% if page.wireframe_set.all.0.image %}{{page.wireframe_set.all.0.image}}{%else%}wireframe_images/default.png{%endif%}" alt="">
                    </div>
                {% endfor %}
            </div>
        </div>

        <div id="new-sprint-form" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <button class="uk-modal-close-default" uk-close></button>
                <h2 class="uk-modal-title">Create New Sprint?</h2>
                <form class="hidden" id="sprint-form" action="{% url 'sprints' project.id %}" method="POST">
                    {% csrf_token %}
                    </form>
                <button id="new-sprint" class="uk-button uk-button-primary form-button">Create Sprint</button>
            </div>
        </div>

        <div id="new-page-form" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <button class="uk-modal-close-default" uk-close></button>
                <h2 class="uk-modal-title">Create New Page</h2>
                <form action="{% url 'pages' project.id %}" method="POST">
                    {% csrf_token %}
                    {{ page_form|crispy }}
                    <input class="uk-button uk-button-primary form-button" type="submit" value="Create Page">
                </form>
            </div>
        </div>

         <div id="edit-project-form" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <button class="uk-modal-close-default" uk-close></button>
                <h2 class="uk-modal-title new-title">Edit Project</h2>
                <form id="form" action="{% url 'project' project.id %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="_method" value="PUT">
                    {{project_form|crispy}}
                    <input class="uk-button uk-button-primary form-button" id="submit" type="submit" value="Update">
                </form>
            </div>
        </div>

        <div id="delete-project-form" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <button class="uk-modal-close-default" uk-close></button>
                <h2 class="uk-modal-title new-title">Delete Project</h2>
                Delete this project and all sprints and pages with which it is associated?
                <form id="form" action="{% url 'project' project.id %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="_method" value="DELETE">
                    <input class="uk-button uk-button-danger form-button" id="submit" type="submit" value="Delete">
                </form>
            </div>
        </div>

    </div>
{% endblock %}