.sprint, .page {
    text-align: center;
    margin: 0 5px;
    display: inline-block;
    flex: 0 0 50%;
    transition-duration: .3s;
}

.sprints, .pages {
    background-color: #aaa;
}

.sprint.completed h1 {
    color: green;
}

.sprint:not(.completed) h1 {
    color: red;
}

.sprint:not(.disabled):hover, .page:hover {
    background-color: #ccc !important;
    transform: scale(1.05);
    cursor: pointer;
}

.sprint.disabled:hover {
    background-color: #000 !important;
}

@media only screen and (min-width: 960px) {
    .sprint, .page {
        flex: 0 0 33%;
    }
}

.disabled {
    opacity: .6;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #aaa;
}

::-webkit-scrollbar-thumb {
    background: #444;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #1f1f1f;
}

.page img {
    height: 100px;
    width: 200px;
    object-fit: cover;
    margin: 0 0 5px 0;
}